/* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }


 header {
            background-color: #F89101;
            color: #060099;
            padding: 20px;
        }

        header h1 {
            margin: 0;
        }

        .container {
            padding: 50px 20px;
        }

        h2 {
            margin-bottom: 20px;
        }

        .botones {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .boton {
            padding: 15px 30px;
            background-color: #F89101;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
        }

        .boton:hover {
            background-color: #d84315;
        }
 
        header {
            background-color: #ff5722;
            color: #060099;
            padding: 20px;
        }

        header h1 {
            margin: 0;
        }

        .container {
            padding: 50px 20px;
        }

        h2 {
            margin-bottom: 20px;
        }

        
        

       
        .formulario-reseña {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
        }

        .formulario-reseña input, .formulario-reseña textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .formulario-reseña button {
            background-color: #ff5722;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .formulario-reseña button:hover {
            background-color: #e64a19;
        }

        footer {
            background-color: #ff5722;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
